* {
    
}

img {
    max-width:100%;
}

html, body {
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    margin: 0;
}

body {
    background: #d5d5d5;
}

.metanav {
    display: block;
    box-shadow:0 1px 2px #aaa;
    padding: 10px;
    background:white;
}

.metanav h2 {
    display: inline-block;
    margin:0;
}

.user-greeting {
    margin-left: 10px;
    display: inline-block;
    font-style: italic;
}

.login-logout {
    display: inline-block;
    float: right;
}

a {
    text-decoration: none;    
}

.bachelors {
    display:table;
    margin:0 auto;
    text-align:center;
    padding-top:10px;
}

ul, li {
    list-style-type: none;
}

ul {
    padding-left:0;
}

li {
    display: inline-block;
    box-shadow:0 1px 2px #aaa;
    background:white;
    border-radius:3px;
    margin:0 1rem 1rem;
}

li > .caption {
    padding-left: 1.5rem;
    text-align:left;
}

a > img {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    display:block;
}

.caption > h2 {
    margin-bottom:0;
}
.caption > h3 {
    margin-top:0;
    font-style:italic;
    font-weight:200;
}

.login {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align:center;
}

input[type=text], input[type=password], input[type=email] {
    border:1px solid #aaa;
    height: 20px;
    width: 300px;
    padding: 10px;
    font-size: 1.2em;
}
