{% extends "layout.html" %}
{% block body %}
  <span class=select onclick="selectContestant()">Select Team</span>
  <ul class=bachelors>
  {% for contestant, info in contestants.iteritems() %}
    {% if info["role"] != "Contestant" %}
    <li>
      <div class=caption>
        <h2>{{ contestant }}</h2>
        <h3>{{ info["role"] }}</h3>
      </div>
      <a href="{{ info["page"] }}">
        <img onerror="this.src = 'http://fillmurray.com/g/330/330'" src="{{ info["img"] }}">
      </a>
    </li>
    {% endif %}
  {% endfor %}
  {% for contestant, info in contestants.iteritems() %}
    {% if info["role"] == "Contestant" %}
    <li>
      <div class=caption>
        <h2>{{ contestant }}</h2>
        <h3>{{ info["role"] }}</h3>
      </div>
      <a href="{{ info["page"] }}">
          <img onerror="this.src = 'http://fillmurray.com/g/330/330'" src="{{ info["img"] }}">
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
