<!doctype html>
<title>Bachelorette Draft</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=page>
  <div class=metanav>
    <h2>Bachelorette Draft</h2>
    {% if not session.logged_in %}
    <div class="login-logout">
      <a href="{{ url_for('login') }}">log in</a>
      <a href="{{ url_for('signup') }}">signup</a>
    </div>
    {% else %}
    <div class="user-greeting">
      <span>Hello, {{session.user_name}}</span>
    </div>
    <div class="login-logout">
      <a href="{{ url_for('logout') }}">log out</a>
    </div>
    {% endif %}
    </div>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</div>
