{% extends "layout.html" %}
{% block body %}
  <div class=login>
    <h2>Leaderboard</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    {% for player in players %}
    
    {% else %}
    <div>No players signed up!</div>
    {% endfor %}
  </div>
{% endblock %}
