{% extends "layout.html" %}
{% block body %}
  <div class=login>
    <h2>Login</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('login') }}" method=post>
      <dl>
        <dd><input type=text name=user_name placeholder="username">
        <dd><input type=password name=password placeholder="password">
        <dd><input type=submit value=Login>
      </dl>
    </form>
  </div>
{% endblock %}
