{% extends "layout.html" %}
{% block body %}
  <h2>Signup</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('create_user') }}" method=post>
    <dl>
      <dd><input type=text name=user_name placeholder="username">
      <dd><input type=email name=user_email placeholder="email">
      <dd><input type=password name=password placeholder="password" id=pass1>
      <dd><input type=password name=password2 placeholder="re-enter password" id=pass2 onkeyup="checkPass(); return false;">
      <dd><input type=submit value=Login onclick="checkPass()">
    </dl>
  </form>
{% endblock %}
